# ocamlbuild working directory
_build/

*.byte
*.log

oUnit-*.log
oUnit-*.cache

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# General
*.DS_Store
